.dialog-title {
    font-size: 24px;
    font-weight: bold;
    color: #371537;
    background-color: rgb(41, 105, 103);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgb(52, 97, 112);
  }
  
  .cancel-button {
    background-color: #f44336;
    color: rgb(23, 12, 12);
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  .confirm-button {
    background-color: #4caf50;
    color: rgb(33, 16, 16);
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  .cancel-button:hover,
  .confirm-button:hover {
    opacity: 0.8;
  }
  