.content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.cards .card {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
  text-align: center;
}

.cards .card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cards .card small {
  color: #888;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .cards .card {
    margin: 10px 0;
  }
}
