<header>
    <div class="logo">
        <img src="assets/res/logo.png">
        <span>CareScheduler</span>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/sign-in">Sign In/Sign Up</a></li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="contact-info">
        <p>Contact Us: 255-626-80-2297</p>
        <p>Email: {{'vK@gmail.com'}}</p>
    </div>
    <div class="social-media">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
    </div>
    <div class="quick-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
    </div>
</footer>
