/* Hero Section */
.hero {
    background-color: #e9f5fe;
    padding: 50px 20px;
    text-align: center;
    background-image: url('../../resources/assets/q.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero .highlight {
    color: #0056b3;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cta-buttons {
    margin-top: 20px;
  }
  
  .cta-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-buttons button:first-child {
    background-color: #0056b3;
    color: white;
  }
  
  .cta-buttons button:last-child {
    background-color: #f8f9fa;
    color: #0056b3;
  }
  
  /* Introduction Section */
  .introduction {
    padding: 50px 20px;
    /* background-color: #fff; */
    color: rgb(0, 0, 0);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('../../resources/assets/au.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .introduction h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .introduction p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .introduction h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .introduction ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
  }
  
  .introduction ul li {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #94b4c0;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Features Section */
  .features {
    padding: 50px 20px;
    background-color: #f6f9ff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('../../resources/assets/i.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .features h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .features ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
  }
  
  .features ul li {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
  }
  