.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="checkbox"],
.form-group input[type="text"],
.form-group select[type="file"],
.form-group select[id="role"] {
  width: 97%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button[type="submit"] {
  padding: 15px 20px;
  width: 20%;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="button"] {
  padding: 15px 20px;
  width: 20%;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #021c3c;
}

.form-group, .btn{
  margin: 15px;
}